html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
div {
    box-sizing: border-box;
    overflow: scroll;
}
#container {
    height: 100%;
    display: flex;
    flex-direction: row;
}
#sidebar {
    flex: 0 0 200px;
    border-right: 1px solid grey;
}
#canvas {
    flex: 1 1 400px;
}